USE [master]
GO
/****** Object:  Database [BiometricsAttendanceSystem]    Script Date: 27-Feb-16 3:24:26 PM ******/
CREATE DATABASE [BiometricsAttendanceSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BiometricsAttendanceSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BiometricsAttendanceSystem.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BiometricsAttendanceSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BiometricsAttendanceSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BiometricsAttendanceSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BiometricsAttendanceSystem]
GO
/****** Object:  StoredProcedure [dbo].[IsSingle]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 15th November 2015
-- Description:	Checks whether for particular role id and leave id there is only 1 entry
-- =============================================
CREATE PROCEDURE [dbo].[IsSingle] 
	-- Add the parameters for the stored procedure here
	@roleId int, 
	@leaveId datetime 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT COUNT( Distinct Id)
	FROM tblLeaveAssignedByRole
	WHERE
	LeaveTypeId=@leaveId AND RoleId=@roleId
		 END
GO
/****** Object:  StoredProcedure [dbo].[spAddDuration]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 04th October 2015
-- Description:	Add an entry to Duration Table
-- =============================================
CREATE PROCEDURE [dbo].[spAddDuration] 
	-- Add the parameters for the stored procedure here
	@duration time(7),
	@isActive bit,
	@createdOn datetime,
	@updatedOn datetime,
	@isDeleted bit
AS
BEGIN
	SET NOCOUNT ON;
    INSERT INTO 
     tblDuration 
	 VALUES(
			@duration,
			@isActive,
			@createdOn,
			@updatedOn,
			@isDeleted
		   )
END

GO
/****** Object:  StoredProcedure [dbo].[spAddRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 04th October 2015
-- Description:	Add a new role
-- =============================================
CREATE PROCEDURE [dbo].[spAddRole] 
	-- Add the parameters for the stored procedure here
	@name nvarchar(Max), 
	@createdOn datetime,
    @updatedOn datetime,
    @isDeleted bit
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO 
	tblRole 
	VALUES(
		@name,
		@createdOn,
		@updatedOn,
		@isDeleted
		)
END

GO
/****** Object:  StoredProcedure [dbo].[spAddShift]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 04th October 2015
-- Description:	Add a new Shift entry
-- =============================================
CREATE PROCEDURE [dbo].[spAddShift] (
	@firstHalfStart datetime,
	@firstHalfEnd datetime,
	@secondHalfStart datetime,
	@secondHalfEnd datetime,
	@isActive bit,
	@createdOn datetime,
	@updatedOn datetime,
	@isDeleted bit)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO 
		tblShifts 
	VALUES(
			@firstHalfStart,	
			@firstHalfEnd,
			@secondHalfStart,
			@secondHalfEnd,
			@isActive,
			@createdOn,
			@updatedOn,
			@isDeleted)
END

GO
/****** Object:  StoredProcedure [dbo].[spAssignAttendance]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Inubator
-- Create date: 12th November 2015
-- Description:	Assigns a entry if there is no count 
--              in the table. If entry is there exist
--              out the Emp.
-- =============================================
CREATE PROCEDURE [dbo].[spAssignAttendance] 
	@employeeId bigint , 
	@dateTime datetime 
AS
BEGIN
	SET NOCOUNT ON;

	Declare @count int
	Declare @exitTime time

	SELECT @count = COUNT(SNo) FROM tblAttendance WHERE EmployeeId= @employeeId 
	AND    Date = CAST(@dateTime as DATE)

    If(@count = 0)
	  BEGIN
	   INSERT INTO tblAttendance values(@employeeId,CAST(@dateTime as DATE),CAST(@dateTime as TIME),Null)
	   SELECT 1
	  END

   else
	 BEGIN
		SELECT @exitTime = ExitTime FROM tblAttendance WHERE EmployeeId= @employeeId 
	    AND    Date = CAST(@dateTime as DATE)

	  if(@exitTime IS NULL)
		BEGIN
		   UPDATE tblAttendance 
		   SET ExitTime = CAST(@dateTime as TIME)
		   WHERE EmployeeId= @employeeId AND Date = CAST(@dateTime as DATE)
		   SELECT 2
		END
	 
	  else
	    BEGIN
	       INSERT INTO tblAttendance values(@employeeId,CAST(@dateTime as DATE),CAST(@dateTime as TIME),Null)
	       SELECT 1
		END
	END 
END

GO
/****** Object:  StoredProcedure [dbo].[spAssignHalfDayLeaveRemovingShortDayLeave]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 26th December 2015
-- Description:	Deletes the short leave for the employee and assigns a half day leave
-- =============================================
CREATE PROCEDURE [dbo].[spAssignHalfDayLeaveRemovingShortDayLeave] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint = 0, 
	@date datetime = 0,
	@createdAt datetime
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE tblLeave
    SET isDeleted=1
    WHERE EmployeeId =@employeeId AND Date= @date AND LeaveTypeId =3;

	INSERT INTO tblLeave values(@employeeId,@date,4,@createdAt,NULL,0);
END

GO
/****** Object:  StoredProcedure [dbo].[spAssignLeave]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 25th October 2015
-- Description:	Assign a Full day leave
-- =============================================
CREATE PROCEDURE [dbo].[spAssignLeave] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint = 0, 
	@date datetime = 0,
	@leaveTypeId int,
	@createdAt datetime
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO tblLeave values(@employeeId,@date,@leaveTypeId,@createdAt,NULL,0);
END

GO
/****** Object:  StoredProcedure [dbo].[spAssignLeaveByFaculty]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 31st October 2015
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[spAssignLeaveByFaculty]
@departmentId int
AS
BEGIN
	SET NOCOUNT ON;

Select tblEmployeesMaster.Name , 
       tblLeaveAssignedPerSession.LeaveTypeId , 
	   tblLeaveAssignedPerSession.NoOfLeaves
	   from tblEmployeesMaster JOIN tblleaveAssignedPerSession 
	   ON  tblEmployeesMaster.Id = tblLeaveAssignedPerSession.EmployeeId
	   JOIN tblEmployees ON tblEmployees.EmployeeId = tblEmployeesMaster.Id 
	   And tblEmployees.DepartmentId = @departmentId
END



GO
/****** Object:  StoredProcedure [dbo].[spAssignLeaveByRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 31st October 2015
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[spAssignLeaveByRole] 
	-- Add the parameters for the stored procedure here
	@leaveId int = 0, 
	@roleId int = 0,
	@noOfLeaves int = 0,
	@isPromoted bit,
	@createdAt datetime
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO 
	         tblLeaveAssignedByRole 
	VALUES( @roleId,@leaveId,@noOfLeaves,@isPromoted,@createdAt,@createdAt,0)
END





GO
/****** Object:  StoredProcedure [dbo].[spCreateDepartment]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 02nd October 2015
-- Description:	Creates a new Department Entry
-- =============================================
CREATE PROCEDURE [dbo].[spCreateDepartment] 
	-- Add the parameters for the stored procedure here
	@name nvarchar(Max), 
	@createdOn datetime,
	@updatedOn datetime,
	@isDeleted bit
AS
BEGIN
	SET NOCOUNT ON;
	SELECT @name, @createdOn
	INSERT INTO tblDepartment 
	VALUES(
	@name,
	@createdOn,
	@updatedOn,
	@isDeleted)
END



GO
/****** Object:  StoredProcedure [dbo].[spCreateEmployee]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SI
-- Create date: 29thSeptember2015
-- Description:	Creates a new Employee and returns Employee ID of created Employee 
-- =============================================
CREATE PROCEDURE [dbo].[spCreateEmployee]
	-- Add the parameters for the stored procedure here
	@facultyId nvarchar(MAX),
	@name nvarchar(MAX), 
	@gender nvarchar(MAX),
	@dateOfBirth datetime,
	@joiningDate datetime,
	@isDeleted bit,
	@createdOn datetime
AS
BEGIN

	SET NOCOUNT ON;

   INSERT INTO dbo.tblEmployeesMaster
          ( 
            FacultyId,
			Name,
			Gender,
			DateOfBirth,
			JoiningDate,
			CreatedAt,
			UpdatedAt,
			IsDeleted
          ) 
     VALUES 
          ( 
            @facultyId,
			@name,
			@gender,
			@dateOfBirth,
			@joiningDate,
			@createdOn,
			null,
			@isDeleted
          ) 
	SELECT @@IDENTITY
END

GO
/****** Object:  StoredProcedure [dbo].[spCreateEmployeeTransc]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SI
-- Create date: 29thSeptember2015
-- Description:	Creates a new Employee and returns Employee ID of created Employee 
-- =============================================
CREATE PROCEDURE [dbo].[spCreateEmployeeTransc]
	-- Add the parameters for the stored procedure here
	@employeeId bigint,
	@imagepath nvarchar(MAX), 
	@password nvarchar(MAX),
	@departmentId int,
	@roleId int,
	@contactNumber bigint,
	@isDeleted bit,
	@createdAt datetime,
	@updatedAt datetime
AS
BEGIN

   SET NOCOUNT ON;

   INSERT INTO dbo.tblEmployees
          ( 
            EmployeeId,
			ImagePath,
			[Password],
			RoleId,
			DepartmentId,
			CreatedAt,
			UpdatedAt,
			IsDeleted
          ) 
     VALUES 
          ( 
            @employeeId,
			@imagePath, 
			@password,
			@roleId,
			@departmentId,
			@createdAt,
			@updatedAt,
			@isDeleted
          ) 
END

GO
/****** Object:  StoredProcedure [dbo].[spCreateTypeOfLeave]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 03rd October 2015
-- Description:	Add a new type of Leave
-- =============================================
CREATE PROCEDURE [dbo].[spCreateTypeOfLeave] 
	-- Add the parameters for the stored procedure here
	@name nvarchar(MAX), 
	@createdOn datetime,
	@updatedOn datetime,
	@isDeleted bit
AS
BEGIN
	SET NOCOUNT ON;
			INSERT INTO 
			tblTypeOfLeave 
			VALUES (
			@name,
			@createdOn,
			@updatedOn,
			@isDeleted)
    END



GO
/****** Object:  StoredProcedure [dbo].[spDeleteDepartment]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Delete Department by Id
-- =============================================
Create PROCEDURE [dbo].[spDeleteDepartment] 
@departmentId int,
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 Update tblDepartment
 	 Set IsDeleted = 1 , UpdatedOn = @updatedAt where Id = @departmentId 
END



GO
/****** Object:  StoredProcedure [dbo].[spDeleteEmployee]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 10th Oct 2015
-- Description:	Deletes an Employee
-- =============================================
CREATE PROCEDURE [dbo].[spDeleteEmployee] 
	@employeeID bigint = 0 
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE  tblEmployeesMaster
	SET  IsDeleted = 1
	WHERE Id = @employeeID

	UPDATE  tblEmployees
	SET  IsDeleted = 1
	WHERE EmployeeId = @employeeID
END

GO
/****** Object:  StoredProcedure [dbo].[spDeleteLeave]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Delete Type Of Leave by Id
-- =============================================
Create PROCEDURE [dbo].[spDeleteLeave] 
@leaveId int,
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 Update tblTypeOfLeave
 	 Set IsDeleted = 1 , UpdatedOn = @updatedAt where Id = @leaveId 
END



GO
/****** Object:  StoredProcedure [dbo].[spDeleteRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 18th Jan 2016
-- Description:	Delete Role by Id
-- =============================================
CREATE PROCEDURE [dbo].[spDeleteRole] 
@roleId int,
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 Update tblRole
 	 Set IsDeleted = 1 , UpdatedOn = @updatedAt where Id = @roleId 
END



GO
/****** Object:  StoredProcedure [dbo].[spDeleteShift]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 18th Jan 2016
-- Description:	Delete Shift by Id
-- =============================================
CREATE PROCEDURE [dbo].[spDeleteShift] 
@shiftId int,
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 Update tblShifts
 	 Set IsDeleted = 1 , UpdatedOn = @updatedAt where Id = @shiftId 
END



GO
/****** Object:  StoredProcedure [dbo].[spGetActiveShift]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 04th October 2015
-- Description:	Get all Shifts
-- =============================================
CREATE PROCEDURE [dbo].[spGetActiveShift]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
		Id,
		FirstHalfStart,
		FirstHalfEnd,
		SecondHalfStart,
		SecondHalfEnd
	FROM 
		tblShifts
	WHERE 
		IsDeleted =0 AND
		isActive =1
END

GO
/****** Object:  StoredProcedure [dbo].[spGetAllDepartments]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 03rd October 2015
-- Description:	Returns all Departments
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllDepartments] 
	
AS
BEGIN

	SET NOCOUNT ON;
	SELECT 
			Id,
			Name 
	FROM    tblDepartment where IsDeleted = 0
END



GO
/****** Object:  StoredProcedure [dbo].[spGetAllDurations]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 04th October 2015
-- Description:	Returns list of durations 
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllDurations] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
			Id,
			TypeOfLeave,
			Duration
	FROM tblDuration
	WHERE
			IsDeleted = 0 
END

GO
/****** Object:  StoredProcedure [dbo].[spGetAllEmployees]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 09th October 2015
-- Description:	Returns All Employees
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllEmployees] 
AS
BEGIN
     SET NOCOUNT ON;
	 SELECT objtblEmployeesMaster.Id,
			objtblEmployeesMaster.Name,
			objtblEmployeesMaster.Gender,
			objtblEmployeesMaster.DateOfBirth,
			objtblEmployeesMaster.JoiningDate,
			objtblEmployees.ImagePath,
			objtblEmployees.ContactNumber,
			objtblEmployees.[Password],
			objtblRole.Id,
			objtblRole.Name,
			objtblDepartment.Id,
			objtblDepartment.Name,
			objtblEmployees.WeeklyOffDay
	 FROM tblEmployeesMaster objtblEmployeesMaster, tblEmployees objtblEmployees,tblRole objtblRole,tblDepartment objtblDepartment
 	 WHERE objtblEmployeesMaster.Id = objtblEmployees.EmployeeId
	 AND  objtblEmployeesMaster.IsDeleted = 0  
	 AND  objtblEmployees.RoleId = objtblRole.Id
	 AND  objtblEmployees.DepartmentId = objtblDepartment.Id
END

GO
/****** Object:  StoredProcedure [dbo].[spGetAllEmployeesByDepartment]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 26th December 2015
-- Description:	Returns All Employees Of a Particular department
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllEmployeesByDepartment] 
	@departmentId int = 0
AS
BEGIN
     SET NOCOUNT ON;
	 SELECT objtblEmployeesMaster.Id AS EmployeeId,
			objtblEmployeesMaster.Name AS Name,
			objtblRole.Id AS RoleId,
			objtblRole.Name AS RoleName,
			objtblDepartment.Id AS DepartmentId,
			objtblDepartment.Name AS DepartmentName
	 FROM tblEmployeesMaster objtblEmployeesMaster, tblEmployees objtblEmployees,tblRole objtblRole,tblDepartment objtblDepartment
 	 WHERE objtblEmployeesMaster.Id = objtblEmployees.EmployeeId
	 AND  objtblEmployeesMaster.IsDeleted = 0  
	 AND  objtblEmployees.RoleId = objtblRole.Id
	 AND  objtblEmployees.DepartmentId = @departmentId
	 AND objtblDepartment.Id = objtblEmployees.DepartmentId
END


GO
/****** Object:  StoredProcedure [dbo].[spGetAllLeavesAssignedByRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAllLeavesAssignedByRole] 
AS
BEGIN
	SET NOCOUNT ON;
   SELECT objTblLeaveAssignedByRole.[Id]
      ,objTblRole.Name as RoleName
      ,objtblTypeOfLeave.Name as LeaveName
      ,objTblLeaveAssignedByRole.[NoOfLeaves]
      ,objTblLeaveAssignedByRole.[IsPromoted]
      ,objTblLeaveAssignedByRole.[Limit] 
  FROM tblLeaveAssignedByRole objTblLeaveAssignedByRole, tblRole objTblRole, tblTypeOfLeave objtblTypeOfLeave
  WHERE objTblLeaveAssignedByRole.RoleId = objTblRole.Id AND
        objTblLeaveAssignedByRole.LeaveTypeId = objtblTypeOfLeave.Id                         
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllRoles]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 04th October 2015
-- Description:	Get all roles
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllRoles] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
		Id,
		Name 
	FROM 
	    tblRole
	WHERE
		IsDeleted = 0
END

GO
/****** Object:  StoredProcedure [dbo].[spGetAllShifts]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 04th October 2015
-- Description:	Get all Shifts
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllShifts]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
		Id,
		FirstHalfStart,
		FirstHalfEnd,
		SecondHalfStart,
		SecondHalfEnd,
		isActive 
	FROM 
		tblShifts
	WHERE 
		IsDeleted =0
END

GO
/****** Object:  StoredProcedure [dbo].[spGetAllTypeOfLeaves]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 03rd October 2015
-- Description:	Gets All Types of Leave
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllTypeOfLeaves] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
	      Id,
		  Name
    FROM  tblTypeOfLeave
	WHERE IsDeleted = 0
END



GO
/****** Object:  StoredProcedure [dbo].[spGetAllTypeOfLeavesAssignedByRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 12th November 2015
-- Description:	Gets All Types of Leave Assigned By Role
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllTypeOfLeavesAssignedByRole] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
	      objTblLeaveAssignedByRole.Id,
		  objTblLeaveAssignedByRole.RoleId,
		  objTblLeaveAssignedByRole.LeaveTypeId,
		  objTblLeaveAssignedByRole.NoOfLeaves,
		  objTblLeaveAssignedByRole.IsPromoted,
		  objTblRole.Name,
		  objTblTypeOfLeave.Name
    FROM  tblTypeOfLeave objTblTypeOfLeave, tblLeaveAssignedByRole objTblLeaveAssignedByRole , tblRole objTblRole
	WHERE objTblLeaveAssignedByRole.RoleId=objTblRole.Id
			AND
		  objTblLeaveAssignedByRole.LeaveTypeId = objTblTypeOfLeave.Id
END


GO
/****** Object:  StoredProcedure [dbo].[spGetDataForOldLeaves]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 08th January 2016
-- Description:	Returns All Data For Old Stock Leaves
-- =============================================
CREATE PROCEDURE [dbo].[spGetDataForOldLeaves] 
AS
BEGIN
     SET NOCOUNT ON;
SELECT tblEmployeesMaster.Id, Name ,[SLCount],[ELCount],[SessionStartDate],[SesssionEndDate] 
FROM [tblLeavesOldStock] right outer join tblEmployeesMaster 
On tblEmployeesMaster.Id = tblLeavesOldStock.EmployeeId

END


GO
/****** Object:  StoredProcedure [dbo].[spGetDayStatus]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 20th December 2015
-- Description:	
-- =============================================
Create PROCEDURE [dbo].[spGetDayStatus] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN
	 SELECT        Status
FROM            tblSpecialDays
where Date = @date
END



GO
/****** Object:  StoredProcedure [dbo].[spGetDepartmentById]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Returns Department by Id
-- =============================================
CREATE PROCEDURE [dbo].[spGetDepartmentById] 
@departmentId int
AS
BEGIN
     SET NOCOUNT ON;
	 SELECT name from tblDepartment
 	 WHERE Id = @departmentId And IsDeleted = 0
END



GO
/****** Object:  StoredProcedure [dbo].[spGetDurationById]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 14th January 2016
-- Description:	Returns Duration by Id
-- =============================================
CREATE PROCEDURE [dbo].[spGetDurationById] 
@id int
AS
BEGIN
     SET NOCOUNT ON;
	 SELECT Id,TypeOfLeave ,Duration from tblDuration
 	 WHERE Id = @id and IsDeleted = 0
END




GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeById]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 10th October 2015
-- Description:	Get Employee by Id
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeeById] 
	@employeeId bigint = 0
AS
BEGIN
	SET NOCOUNT ON;
	SELECT objtblEmployeesMaster.Id,
			objtblEmployeesMaster.Name,
			objtblEmployeesMaster.Gender,
			objtblEmployeesMaster.DateOfBirth,
			objtblEmployeesMaster.JoiningDate,
			objtblEmployees.ImagePath,
			objtblEmployees.ContactNumber,
			objtblEmployees.[Password],
			objtblRole.Id,
			objtblRole.Name,
			objtblDepartment.Id,
			objtblDepartment.Name,
			objtblEmployees.WeeklyOffDay
	 FROM tblEmployeesMaster objtblEmployeesMaster, tblEmployees objtblEmployees,tblRole objtblRole,tblDepartment objtblDepartment
 	 WHERE objtblEmployeesMaster.Id = objtblEmployees.EmployeeId
	 AND  objtblEmployeesMaster.IsDeleted = 0  
	 AND  objtblEmployees.RoleId = objtblRole.Id
	 AND  objtblEmployees.DepartmentId = objtblDepartment.Id
	 AND  objtblEmployeesMaster.Id = @employeeId
END

GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesDefaultersByDate]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Software Incubator
-- Create date: 19th November 2015
-- Description:	Gives list of defaulter employees by Date
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesDefaultersByDate] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN


SELECT tblEmployeesMaster.Id As EmployeeId, tblEmployeesMaster.Name,tblEmployees.RoleId,tblEmployees.DepartmentId From tblEmployeesMaster,tblEmployees
WHERE tblEmployeesMaster.IsDeleted =0 AND 
tblEmployeesMaster.Id = tblEmployees.EmployeeId AND
tblEmployeesMaster.Id NOT in
(
(SELECT DISTINCT(EmployeeId) FROM tblAttendance
WHERE		cast ([Date] as date) = CAST(@date as date) )

UNION

(SELECT DISTINCT(EmployeeId) FROM tblLeave 
WHERE Id in(
SELECT     tblFullDayLeave.LeaveId
FROM       tblFullDayLeave
WHERE		cast ([Date] as date) = CAST(@date as date) 
UNION
SELECT     tblMultiDayLeave.LeaveId
FROM       tblMultiDayLeave
WHERE		CAST (StartDate as date) <= CAST(@date as date) AND CAST (EndDate as date) >= CAST(@date as date)
UNION
SELECT     tblHalfDayLeave.LeaveId
FROM       tblHalfDayLeave
WHERE		cast ([Date] as date) = CAST(@date as date) 
UNION
SELECT     tblDurationalLeave.LeaveId
FROM       tblDurationalLeave
WHERE		cast ([Date] as date) = CAST(@date as date)) 
AND IsDeleted = 0)
)
END





GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesForBasicReport]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 19th December 2015
-- Description:	Get All Employees For Basic Report 
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesForBasicReport] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN
	 SELECT        tblEmployeesMaster.Name AS Name, tblAttendance.EmployeeId, tblAttendance.EntryTime, tblAttendance.ExitTime, 
                   tblAttendance.Date
FROM          tblAttendance RIGHT OUTER JOIN   
              tblEmployeesMaster ON tblAttendance.EmployeeId = tblEmployeesMaster.Id
AND           tblAttendance.Date = @date

      
END



GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesForDailyAttendanceReportByDeaprtment]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:  	Software Incubator
-- Create date: 19th December 2015
-- Description:	Get All Employees For Basic Report sorted by Department
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesForDailyAttendanceReportByDeaprtment]
-- Add the parameters for the stored procedure here
@date datetime,
@departmentId int
AS
BEGIN
  SELECT
  DISTINCT
    tblEmployeesMaster.Name AS Name,
    tblEmployeesMaster.Id,
    min(tblAttendance.EntryTime),
    max(tblAttendance.ExitTime)

  FROM tblEmployees,tblAttendance
  RIGHT OUTER JOIN tblEmployeesMaster
    ON tblAttendance.EmployeeId = tblEmployeesMaster.Id
    AND tblAttendance.Date = @date
  WHERE tblEmployees.DepartmentId = @departmentId
    GROUP BY
			  tblEmployeesMaster.Id,
		      tblEmployeesMaster.Name

END




GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesForDailyAttendanceReportByEmployeeId]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:  	Software Incubator
-- Create date: 19th December 2015
-- Description:	Get All Employees For Basic Report sorted by EmployeeId
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesForDailyAttendanceReportByEmployeeId]
-- Add the parameters for the stored procedure here
@date datetime,
@employeeId int
AS
BEGIN
   SELECT
  DISTINCT
    tblEmployeesMaster.Name AS Name,
    tblEmployeesMaster.Id,
    min(tblAttendance.EntryTime),
    max(tblAttendance.ExitTime)

  FROM tblEmployees,tblAttendance
  RIGHT OUTER JOIN tblEmployeesMaster
    ON tblAttendance.EmployeeId = tblEmployeesMaster.Id
    AND tblAttendance.Date = @date
  WHERE  tblEmployeesMaster.id =@employeeId
    GROUP BY
			  tblEmployeesMaster.Id,
		      tblEmployeesMaster.Name

END




GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesForDetailedReport]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 20th December 2015
-- Description:	Get All Employees For Detailed Report 
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesForDetailedReport] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN
SELECT        tblEmployeesMaster.Name AS Name,tblEmployeesMaster.Id AS EmployeeId, Min(tblAttendance.EntryTime) AS EntryTime, Max(tblAttendance.ExitTime) AS ExitTime
FROM          tblAttendance RIGHT OUTER JOIN   
              tblEmployeesMaster ON tblAttendance.EmployeeId = tblEmployeesMaster.Id
AND           tblAttendance.Date = @date
GROUP BY
			  tblAttendance.EmployeeId,
			  tblEmployeesMaster.Id,
		      tblEmployeesMaster.Name
END



GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesLateDateWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Get All Employees Late Datewise
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesLateDateWise] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN
	SET NOCOUNT ON;

    SELECT tblAttendance.EmployeeId,Min(tblAttendance.EntryTime) As EntryTime
	FROM
    tblAttendance
	WHERE
	tblAttendance.[Date] = @date 
	GROUP BY
    tblAttendance.EmployeeId
	HAVING MIN(tblAttendance.EntryTime) > N'08:30:00.0000000'

END



GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesLeavingEarlyDateWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 24th November 2015
-- Description:	Get All Employees Leaving Early Datewise
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesLeavingEarlyDateWise] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN
	SET NOCOUNT ON;

    SELECT tblAttendance.EmployeeId,Max(tblAttendance.ExitTime) As ExitTime
	FROM
    tblAttendance
	WHERE
	tblAttendance.[Date] = @date 
	GROUP BY
    tblAttendance.EmployeeId
	HAVING Max(tblAttendance.ExitTime) < N'04:00:00.0000000'

END



GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesPresentByDepartmentDateWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Generate Report By Department
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesPresentByDepartmentDateWise] 
	-- Add the parameters for the stored procedure here
	@departmentId int = 0, 
	@date datetime
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
       objtblEmployeesMaster.FacultyId
      ,objtblEmployeesMaster.Name
  FROM tblEmployeesMaster objtblEmployeesMaster, tblAttendance objtblAttendance, tblEmployees objtblEmployees
  WHERE objtblEmployeesMaster.IsDeleted = 0 
  AND   objtblEmployeesMaster.Id = objtblAttendance.EmployeeId 
  AND   objtblAttendance.Date = (CAST(@date AS date))
  AND   objtblEmployeesMaster.Id = objtblEmployees.EmployeeId
  AND   objtblEmployees.DepartmentId = @departmentId
  AND   objtblAttendance.ExitTime IS NULL
END


GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeesPresentDateWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Get All Employees Present 
-- =============================================
CREATE PROCEDURE [dbo].[spGetEmployeesPresentDateWise] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
       objtblEmployeesMaster.FacultyId
      ,objtblEmployeesMaster.Name
  FROM tblEmployeesMaster objtblEmployeesMaster, tblAttendance objtblAttendance
  WHERE objtblEmployeesMaster.IsDeleted = 0 
  AND   objtblEmployeesMaster.Id = objtblAttendance.EmployeeId 
  AND   objtblAttendance.Date = (CAST(@date AS date))
  AND   objtblAttendance.ExitTime IS NULL
END


GO
/****** Object:  StoredProcedure [dbo].[spGetEntriesDateAndEmployeeWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 20th December 2015
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[spGetEntriesDateAndEmployeeWise] 
	-- Add the parameters for the stored procedure here
	@employeeId int,
	@date datetime
AS
BEGIN
	 SELECT        EntryTime, ExitTime
FROM            tblAttendance
WHERE        (Date = @date) AND (EmployeeId = @employeeId)
END



GO
/****** Object:  StoredProcedure [dbo].[spGetEntriesDateWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 20th December 2015
-- Description:	
-- =============================================
create PROCEDURE [dbo].[spGetEntriesDateWise] 
	-- Add the parameters for the stored procedure here
	@date datetime
AS
BEGIN
	SELECT        EmployeeId,EntryTime, ExitTime
FROM            tblAttendance
WHERE        (Date = @date)
END



GO
/****** Object:  StoredProcedure [dbo].[spGetLeaveAssignedByRoleById]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 14th January 2016
-- Description:	Returns LeaveAssignedByRole by Id
-- =============================================
CREATE PROCEDURE [dbo].[spGetLeaveAssignedByRoleById] 
@id int
AS
BEGIN
     SET NOCOUNT ON;
	 SELECT Id, RoleId , LeaveTypeId, NoOfLeaves , IsPromoted from tblLeaveAssignedByRole
 	 WHERE Id = @id
END




GO
/****** Object:  StoredProcedure [dbo].[spGetLeavesAssignedToEmployeeSessionWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Get All  Leaves  Assigned to Employees in  running Session
-- =============================================
CREATE PROCEDURE [dbo].[spGetLeavesAssignedToEmployeeSessionWise] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint,
	@session datetime
AS
BEGIN
SELECT tblTypeOfLeave.Id,tblTypeOfLeave.Name , COUNT(LeavetypeId)  AS count
From tblLeaveAssignedPerSession RIGHT OUTER JOIN  tblTypeOfLeave  
ON tblLeaveAssignedPerSession.LeaveTypeId = tblTypeOfLeave.Id
AND EmployeeId = @employeeId
AND @session >= SessionStartDate
AND @session <= SessionEndDate
Group BY LeavetypeId,tblTypeOfLeave.Id,tblTypeOfLeave.Name
END




GO
/****** Object:  StoredProcedure [dbo].[spGetLeavesAvailedByMonthEmployeeWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Get All  Leaves of Employees Taken That Month
-- =============================================
CREATE PROCEDURE [dbo].[spGetLeavesAvailedByMonthEmployeeWise] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint,
	@monthStartDate datetime,
	@monthEndDate datetime
AS
BEGIN
SELECT tblTypeOfLeave.Id,tblTypeOfLeave.Name , COUNT(LeavetypeId)  AS count
From tblLeave RIGHT OUTER JOIN  tblTypeOfLeave  
ON tblLeave.LeaveTypeId = tblTypeOfLeave.Id 
AND EmployeeId = @employeeId
AND [Date] Between @monthStartDate  AND @monthEndDate
Group BY tblLeave.LeaveTypeId , tblTypeOfLeave.Id ,tblTypeOfLeave.Name
END




GO
/****** Object:  StoredProcedure [dbo].[spGetLeavesAvailedUptoPreviousMonthEmployeeWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Get All  Leaves of Employees Taken That Month
-- =============================================
CREATE PROCEDURE [dbo].[spGetLeavesAvailedUptoPreviousMonthEmployeeWise] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint,
	@sessionStart datetime,
	@sessionEnd datetime,
	@monthStartDate datetime
AS
BEGIN
SELECT tblTypeOfLeave.Id,tblTypeOfLeave.Name , COUNT(LeavetypeId)  AS count
From tblLeave RIGHT OUTER JOIN  tblTypeOfLeave  
ON tblLeave.LeaveTypeId = tblTypeOfLeave.Id 
AND EmployeeId = @employeeId
AND [Date] Between @sessionStart  AND @sessionEnd
AND [Date] < @monthStartDate
Group BY tblLeave.LeaveTypeId , tblTypeOfLeave.Id, tblTypeOfLeave.Name
END




GO
/****** Object:  StoredProcedure [dbo].[spGetLeavesOldStockDepartmentWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Get All Old Stock of Leaves of Employees By Department
-- =============================================
CREATE PROCEDURE [dbo].[spGetLeavesOldStockDepartmentWise] 
	-- Add the parameters for the stored procedure here
	@departmentId int
AS
BEGIN
Select tblEmployeesMaster.Id, tblEmployeesMaster.Name, tblLeavesOldStock.SLCount , tblLeavesOldStock.ELCount 
from tblLeavesOldStock right outer join tblEmployeesMaster 
on tblEmployeesMaster.Id = tblLeavesOldStock.EmployeeId
join tblEmployees
on tblEmployeesMaster.Id = tblEmployees.EmployeeId
AND tblEmployees.DepartmentId = @departmentId
END




GO
/****** Object:  StoredProcedure [dbo].[spGetPunchRecordsOfEmployeeDateWise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 21st December 2015
-- Description:	Get Punch Records Of Employee By Date
-- =============================================
CREATE PROCEDURE [dbo].[spGetPunchRecordsOfEmployeeDateWise] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint,
	@date datetime
AS
BEGIN
	 SELECT        tblAttendance.EntryTime AS EntryTime, tblAttendance.ExitTime AS ExitTime
     FROM          tblAttendance 
	 WHERE         tblAttendance.[Date] = @date AND 
	               tblAttendance.EmployeeId = @employeeId
END



GO
/****** Object:  StoredProcedure [dbo].[spGetRoleById]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 12th November 2015
-- Description:	Returns Role by Id
-- =============================================
CREATE PROCEDURE [dbo].[spGetRoleById] 
@roleId int
AS
BEGIN
     SET NOCOUNT ON;
	 SELECT name from tblRole
 	 WHERE Id = @roleId
END

GO
/****** Object:  StoredProcedure [dbo].[spGetShiftsById]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 14th January 2016
-- Description:	Returns Shifts by Id
-- =============================================
CREATE PROCEDURE [dbo].[spGetShiftsById] 
@id int
AS
BEGIN
     SET NOCOUNT ON;
	 SELECT Id,FirstHalfStart,FirstHalfEnd,SecondHalfStart,SecondHalfEnd from tblShifts
 	 WHERE Id = @id And IsDeleted = 0
END




GO
/****** Object:  StoredProcedure [dbo].[spGetTotalDurationOfEmployeesDatewise]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 20th December 2015
-- Description:	Get Total Duration of Employees Datewise in Minutes
-- =============================================
CREATE PROCEDURE [dbo].[spGetTotalDurationOfEmployeesDatewise] 
	-- Add the parameters for the stored procedure here
	@employeeId int,
	@date datetime
AS
BEGIN
	 SELECT        SUM(DATEDIFF(minute, EntryTime, ExitTime)) As Minutes
     FROM          tblAttendance 
	 WHERE         [Date] = @date AND
                   EmployeeId = @employeeId
END


GO
/****** Object:  StoredProcedure [dbo].[spGetTypeOfLeaveById]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 03rd October 2015
-- Description:	Gets Type of Leave By Id
-- =============================================
CREATE PROCEDURE [dbo].[spGetTypeOfLeaveById] 
@leaveId int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		  Name
    FROM  tblTypeOfLeave
	WHERE Id =@leaveId AND IsDeleted = 0
END



GO
/****** Object:  StoredProcedure [dbo].[spGetTypeOfLeaveOfEmployeeByDate]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 21st December 2015
-- Description:	Get Type Of Leave Of Employee By Date
-- =============================================
CREATE PROCEDURE [dbo].[spGetTypeOfLeaveOfEmployeeByDate] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint, 
	@date date
	

AS
BEGIN
    SELECT 
	LeaveTypeId FROM tblLeave 
	WHERE 
	EmployeeId =  @employeeId AND
	[Date] = @date
END

GO
/****** Object:  StoredProcedure [dbo].[spIsEmployeeOnLeaveByDate]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 25th October 2015
-- Description:	Checks whether employee is on leave by Date
-- =============================================
CREATE PROCEDURE [dbo].[spIsEmployeeOnLeaveByDate] 
	-- Add the parameters for the stored procedure here
	@employeeId bigint, 
	@date date
AS
BEGIN
     SELECT COUNT(id) 
	 FROM tblLeave
	 WHERE EmployeeId = @employeeId AND
	       [Date] = @date
END


GO
/****** Object:  StoredProcedure [dbo].[spUpdateDepartment]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Software Incubator
-- Create date: 11th November 2015
-- Description:	Updates Department Name by Id
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateDepartment] 
@departmentId int,
@name nvarchar(MAX),
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 UPDATE tblDepartment SET Name=@name, UpdatedOn = @updatedAt
	 Where Id = @departmentId
END

GO
/****** Object:  StoredProcedure [dbo].[spUpdateDuration]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 15th Jan 2016
-- Description:	Updates Duration by Id
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateDuration] 
@durationId int,
@duration time(7),
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 UPDATE tblDuration SET Duration=@duration, UpdatedOn = @updatedAt
	 Where Id = @durationId
END





GO
/****** Object:  StoredProcedure [dbo].[spUpdateEmployeeByEmployeeId]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SI
-- Create date: 29thSeptember2015
-- Updated dae: 17thJanuary2016
-- Description:	Creates a new Employee and returns Employee ID of created Employee 
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateEmployeeByEmployeeId]
	-- Add the parameters for the stored procedure here
	@employeeId bigint,
	@gender nvarchar(MAX),
	@dateOfBirth datetime,
	@joiningDate datetime,
	@isDeleted bit,
	@updatedOn datetime,
	@password nvarchar(MAX),
	@roleId int,
	@departmentId int,
	@contactNumber bigint,
	@weeklyOffDay int
AS
BEGIN

	SET NOCOUNT ON;

   UPDATE dbo.tblEmployeesMaster
   SET 	  Gender = @gender,
		  DateOfBirth = @dateOfBirth ,
		  JoiningDate = @joiningDate,
		  UpdatedAt = @updatedOn,
		  IsDeleted = 0
   WHERE Id = @employeeId
   
   UPDATE dbo.tblEmployees
   SET 	  [Password] = @password,
		  RoleId = @roleId ,
		  DepartmentId = @departmentId,
		  ContactNumber =@contactNumber,
		  UpdatedAt = @updatedOn,
		  WeeklyOffDay = @weeklyOffDay,
		  IsDeleted = 0
   WHERE EmployeeId =@employeeId
END

GO
/****** Object:  StoredProcedure [dbo].[spUpdateLeave]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 17th November 2015
-- Description:	Updates Leave Name by Id
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateLeave] 
@leaveId int,
@name nvarchar(MAX),
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 UPDATE tblTypeOfLeave SET Name=@name, UpdatedOn = @updatedAt
	 Where Id = @leaveId
END



GO
/****** Object:  StoredProcedure [dbo].[spUpdateRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Software Incubator
-- Create date: 17th November 2015
-- Description:	Updates Role Name by Id
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateRole] 
@roleId int,
@name nvarchar(MAX),
@updatedAt datetime
AS
BEGIN
     SET NOCOUNT ON;
	 UPDATE tblRole SET Name=@name, UpdatedOn = @updatedAt
	 Where Id = @roleId
END



GO
/****** Object:  StoredProcedure [dbo].[spUpdateShift]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Software Incubator
-- Create date: 17th Jan 2016
-- Description:	Edit a Shift entry
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateShift] (
	@shiftId int,
	@firstHalfStart datetime,
	@firstHalfEnd datetime,
	@secondHalfStart datetime,
	@secondHalfEnd datetime,
	@updatedOn datetime
	)
AS
BEGIN
	SET NOCOUNT ON;

	Update tblShifts 
	set
	FirstHalfStart = @firstHalfStart,	
	FirstHalfEnd = @firstHalfEnd,
	SecondHalfStart = @secondHalfStart,
	SecondHalfEnd = @secondHalfEnd,
	UpdatedOn = @updatedOn
	where Id = @shiftId And IsDeleted = 0
END


GO
/****** Object:  Table [dbo].[tblAttendance]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAttendance](
	[Sno] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[EntryTime] [time](0) NOT NULL,
	[ExitTime] [time](0) NULL,
 CONSTRAINT [PK_tblAttendance] PRIMARY KEY CLUSTERED 
(
	[Sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_tblDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDuration]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDuration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Duration] [time](7) NOT NULL,
	[TypeOfLeave] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblSHLDuration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployees]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployees](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
	[DepartmentId] [int] NULL,
	[ContactNumber] [bigint] NULL,
	[WeeklyOffDay] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblEmployees_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeesMaster]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeesMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FacultyId] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[JoiningDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblEmployees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHolidays]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHolidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[NameOfHoliday] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.tblDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLeave]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLeave](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblLeave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLeaveAssignedByRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLeaveAssignedByRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[NoOfLeaves] [int] NOT NULL,
	[IsPromoted] [bit] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblLeaveAssignedByRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLeaveAssignedPerSession]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLeaveAssignedPerSession](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[NoOfLeaves] [int] NULL,
	[SessionStartDate] [date] NOT NULL,
	[SessionEndDate] [date] NOT NULL,
 CONSTRAINT [PK_tblLeaveAssignedPerSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLeavesOldStock]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLeavesOldStock](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[SLCount] [int] NOT NULL,
	[ELCount] [int] NOT NULL,
	[SessionStartDate] [date] NOT NULL,
	[SesssionEndDate] [date] NOT NULL,
 CONSTRAINT [PK_tblLeavesOldStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSession]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionStartDate] [datetime] NULL,
	[SessionEndDate] [datetime] NULL,
 CONSTRAINT [PK_tblSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblShifts]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstHalfStart] [time](7) NOT NULL,
	[FirstHalfEnd] [time](7) NOT NULL,
	[SecondHalfStart] [time](7) NOT NULL,
	[SecondHalfEnd] [time](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblShifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTypeOfLeave]    Script Date: 27-Feb-16 3:24:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTypeOfLeave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tblTypeOfLeave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_tblEmployees]    Script Date: 27-Feb-16 3:24:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblEmployees] ON [dbo].[tblEmployeesMaster]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEmployees] ADD  CONSTRAINT [DF_tblEmployees_DepartmentId]  DEFAULT ((1)) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[tblEmployees] ADD  CONSTRAINT [DF_tblEmployees_WeeklyOffDay]  DEFAULT ((1)) FOR [WeeklyOffDay]
GO
ALTER TABLE [dbo].[tblEmployees] ADD  CONSTRAINT [DF_tblEmployees_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tblEmployeesMaster] ADD  CONSTRAINT [DF_tblEmployeesMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tblLeaveAssignedByRole] ADD  CONSTRAINT [DF_tblLeaveAssignedByRole_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
USE [master]
GO
